*.local

# Build files
dist
dist-ssr

#OS specific
.DS_Store  # macOS Finder metadata files
Thumbs.db  # Windows Explorer thumbnail cache
.cache     # Linux cache files

#Dependencies
node_modules


#Visual Studio Code
# .vscode/
